html, body {
  margin: 0;
  padding: 0;
}

div.root {
  padding-left: 150px;
}

div.board-element {
  position: absolute;
}

div.board-frame {
  background-color: #630
}

div.board-points-block {
  height: 500px;
  width: 50px;
}

div.board-point-block {
  height: 250px; 
  width: 50px;
  text-align: center;
  background-repeat: no-repeat;
}

div.point-bottom-odd {
  background-image: url(../images/point_bottom_odd.png)
}

div.point-bottom-even {
  vertical-align: bottom;
  background-image: url(../images/point_bottom_even.png)
}

div.point-top-odd {
  background-image: url(../images/point_top_odd.png)
}

div.point-top-even {
  background-image: url(../images/point_top_even.png)
}

img.checker {
  position: absolute;
  top: 20px;
}
